body {
    width: 100%;
    height: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.large {
    height: 105vh;
    width: 100%;
    background-color: rgb(202, 201, 201);
}

.circle {
    margin-top: 30px !important;
    height: 500px;
    width: 500px;
    border-radius: 50%;
    background-image: url('../assets/undraw_happy_music_g6wc.png');
    margin: 55px auto;
    background-size: 100% 100%;
}

form {
    text-align: center;
    color: black;
    width: 90%;
    margin: 55px auto;
}

.p {
    font-size: 42px;
    text-align: left !important;
    font-weight: bold;
}

input {
    height: 90px;
    width: 100%;
    margin: 0 auto;
    background-color: white;
    border: 1px solid white;
    border-radius: 5px;
    font-size: 34px;
}

button {
    width: 100%;
    height: 90px;
    background-color: rgb(230, 43, 43);
    border-radius: 25px;
    border: 1px solid rgb(230, 43, 43);
    color: white !important;
    font-size: 34px;
    font-weight: bold;
    margin-top: 65px;
}

.pp {
    font-size: 26px;
    font-weight: bold;
}

a {
    text-decoration: none;
    color: black;
    font-size: 32px;
}

.warning {
    display: none;
}

@media screen and (min-width: 1224px) {
    body {
        display: none
    }
    .warning {
        display: block;
    }
}